/*
dark gray - #474448
light gray - #e5e7eb
dark purple - #2D232E
light teal - #73C6AD
dark teal - #2EA080
yellow green - #DEF4C6
light bone - #f4f1eb

specified fonts:
font-family: 'Droid Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

@charset "UTF-8";

#bod {
	background-color: #e5e7eb;
	padding: 80px 0px 0px 0px;
}

.title {
	text-align: center;
	color: white;
	margin: 1.2%;
	font-size: 1.7em;
	font-family: 'Poppins', sans-serif;
	z-index: 6;
}


.top-bar {
	width: 100%;
	height: 80px;
	padding: 15px;
	position: fixed;
	top: 25px;
	left: 0;
	z-index: 4;
	background-color: #2EA080;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 2px 2px 9px rgba(44,62,80,0.15);
}

input.header-input {

	width: 100%;
	height: 50px;
	float: left;
	background-color: #73C6AD;
	border-radius: 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 0px;
	color:#f4f1eb !important;
	font-size: 1.3em;
  	font-family: 'Poppins', sans-serif;
  	letter-spacing: .05em;
  	padding: 0px 60px 0px 0px;
  	text-indent: 15px;
}

input.header-input::placeholder {

  color: #f4f1eb !important;
  padding: 0px;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .06em;
}

button.submit-top {
	border: none;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #f4f1eb;
	border-radius: 25px;
	z-index: 4;
}

.plus {
	margin-top: 5px;
}


div.container {

	width: 100%;
	float: left;
	padding: 15px;
}

ul.to-do li {

	width: 100%;
	float: left;
	height: 50px;
	background-color: #f4f1eb;
	border-radius: 10px;
	box-shadow: 2px 3px 3px rgba(44,62,80,0.10);
	margin-top: 13px;
	font-family: 'Poppins', sans-serif;
	color: #2D232E !important;
	font-weight: bolder;
	font-size: 1em;
	overflow: hidden;	
}

li:last-of-type {

	margin: 0px;
}

div.list-buttons-container {
	
	float: right;
	width: 100px;
	height: 50px;
	padding: 0px;
}

p.list-text {

	margin: 8px 5px 8px 20px;
	float: left;
	width: 60%;
	line-height: 1.1em;
	overflow: visible;
}

.list-buttons {

	width: 48px;
	height: 50px;
	float: right;
	background: none;
	border: 0px;
	box-shadow: none;
	display: inline-block;
}

svg.divider {
	
	float: right;
	z-index: 13;
}

svg.remove {

	width:25px;
	height: 25px;
}

svg.complete {
	margin-top: 3px; 
}

/* the class for the list headers */
.section-header {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: .05em;
	margin-top: 25px;
}

 .hidden {
    display: none;
}


.footer {
	
	float: left;
	width: 100%;
	height: 50px;
  	position: absolute;
  	bottom: 0px;
  	background-color: #2EA080;
}

.footer-text {
	
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	text-align: center;
	color: white;
	margin: 1.5%;
}


